<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/fabry/IdeaProjects/Rendering/src/test/java"><classes><class name="prueba.LogTest"><methods><include name="launchBrowser"/></methods></class><class name="prueba.RobotApi"><methods><include name="RobotApiTest"/></methods></class><class name="tests.login"><methods><include name="openLogin"/><include name="login"/></methods></class></classes></test></suite>